*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Be Vietnam", sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container-alter {
  width: 100vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 4rem 20rem;
}

@media screen and (max-width: 840px) {
  .container-alter {
    padding: 2rem 2rem;
  }
}

.container-verde {
  background-color: #3a493d;
  width: 100vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.container-verde h1,
.container-verde h2,
.container-verde h3,
.container-verde h4 {
  color: #eba761;
}

.container-verde p {
  color: #becfb4;
}

.container-verde .overline {
  color: #80a674;
}

@media screen and (max-width: 840px) {
  .container-verde {
    width: 100vw;
    overflow-x: hidden;
  }
}

.container-laranja {
  background-color: #f3f0e4;
  width: 100vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.container-laranja h1,
.container-laranja h2,
.container-laranja h3,
.container-laranja h4 {
  color: #3a493d;
}

.container-laranja p {
  color: #7f7d7d;
}

.container-laranja .overline {
  color: #80a674;
}

@media screen and (max-width: 840px) {
  .container-laranja {
    width: 100vw;
    overflow-x: hidden;
  }
}

.container {
  max-width: 1280px;
  padding: 12rem 4rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1140px) and (min-width: 840px) {
  .container {
    padding: 6rem 3rem;
  }
}

@media screen and (max-width: 840px) {
  .container {
    width: 100%;
    padding: 4rem 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container-100 {
  width: 100%;
}

.container-70 {
  max-width: 70%;
}

@media screen and (max-width: 840px) {
  .container-70 {
    width: 100%;
  }
}

.container-60 {
  max-width: 60%;
}

@media screen and (max-width: 840px) {
  .container-60 {
    width: 100%;
  }
}

.container-50 {
  max-width: 49%;
}

@media screen and (max-width: 840px) {
  .container-50 {
    width: 100%;
  }
}

.container-40 {
  max-width: 40%;
}

@media screen and (max-width: 840px) {
  .container-40 {
    width: 100%;
  }
}

.container-30 {
  max-width: 30%;
}

@media screen and (max-width: 840px) {
  .container-30 {
    width: 100%;
  }
}

#menu-desktop {
  width: 100%;
  height: 72px;
  padding: 1rem 4rem;
  background-color: #3a493d;
  -webkit-box-shadow: 0px 4px 10px rgba(42, 39, 40, 0.2);
          box-shadow: 0px 4px 10px rgba(42, 39, 40, 0.2);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
}

#menu-desktop .logo img {
  height: 40px;
}

#menu-desktop .menu-hamburguer {
  display: none;
}

#menu-desktop .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#menu-desktop .menu-items .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 840px) {
  #menu-desktop {
    width: 100vw;
  }
  #menu-desktop .logo img {
    width: 5rem;
  }
  #menu-desktop .menu-hamburguer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #menu-desktop .menu-items {
    display: none;
  }
}

@media screen and (max-width: 1140px) and (min-width: 840px) {
  #menu-desktop {
    padding: 1rem 2rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #menu-desktop .logo {
    margin: 0 auto;
  }
  #menu-desktop .logo img {
    height: 32px;
  }
}

#inactive {
  display: none;
}

@media screen and (max-width: 840px) {
  #inactive {
    display: none;
  }
  #inactive nav.menu-mobile-items {
    display: none;
  }
}

@media screen and (max-width: 840px) {
  .menu-mobile {
    width: 100vw;
    height: 100vh;
    padding: 4rem 4rem;
    background-color: #3a493d;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-mobile .menu-mobile-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
  }
  .menu-mobile .menu-mobile-items .close::before {
    content: '';
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    background-image: url(assets/icon/icon-x.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0.5rem;
    cursor: pointer;
  }
  .menu-mobile .menu-mobile-items .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.btn-prim {
  min-width: 200px;
  padding: 0.8rem 3rem;
  border-radius: 2px;
  border: none;
  -webkit-box-shadow: 0px 3px 5px rgba(103, 123, 101, 0.4);
          box-shadow: 0px 3px 5px rgba(103, 123, 101, 0.4);
  background-color: #3a493d;
  color: #f3f0e4;
  font-weight: 500;
  line-height: 22px;
  font-size: 1rem;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn-prim:hover {
  background-color: #677b65;
  -webkit-box-shadow: 0px 5px 11px 1px rgba(68, 85, 70, 0.2);
          box-shadow: 0px 5px 11px 1px rgba(68, 85, 70, 0.2);
  color: #f2dcbf;
}

.btn-prim:focus {
  background-color: #709d66;
}

.btn-sec {
  min-width: 200px;
  padding: 0.8rem 3rem;
  border-radius: 2px;
  border: none;
  -webkit-box-shadow: 0px 3px 5px rgba(103, 123, 101, 0.4);
          box-shadow: 0px 3px 5px rgba(103, 123, 101, 0.4);
  background-color: #709d66;
  color: #f3f0e4;
  font-weight: 500;
  line-height: 22px;
  font-size: 1rem;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn-sec:hover {
  background-color: #80a674;
  -webkit-box-shadow: 0px 5px 11px 1px rgba(68, 85, 70, 0.2);
          box-shadow: 0px 5px 11px 1px rgba(68, 85, 70, 0.2);
  color: #f2dcbf;
}

.btn-sec:focus {
  background-color: rgba(128, 166, 116, 0.75);
}

.btn-ter {
  min-width: 200px;
  padding: 0.8rem 3rem;
  border-radius: 2px;
  border: 1px solid #3a493d;
  background-color: none;
  color: #3a493d;
  font-weight: 500;
  line-height: 22px;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn-ter:hover {
  background-color: rgba(128, 166, 116, 0.4);
  -webkit-box-shadow: 0px 5px 11px 1px rgba(68, 85, 70, 0.2);
          box-shadow: 0px 5px 11px 1px rgba(68, 85, 70, 0.2);
  color: #677b65;
}

.btn-ter:focus {
  background-color: rgba(128, 166, 116, 0.75);
  color: #f5faf6;
}

.btn-ter-2 {
  min-width: 200px;
  padding: 0.8rem 3rem;
  border-radius: 2px;
  border: 1px solid #becfb4;
  background-color: none;
  color: #becfb4;
  font-weight: 500;
  line-height: 22px;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn-ter-2:hover {
  background-color: rgba(128, 166, 116, 0.75);
  -webkit-box-shadow: 0px 5px 11px 1px rgba(68, 85, 70, 0.2);
          box-shadow: 0px 5px 11px 1px rgba(68, 85, 70, 0.2);
  color: #f3f0e4;
}

.btn-ter-2:focus {
  background-color: #80a674;
  color: #f3f0e4;
}

.btn-round {
  background-color: rgba(190, 207, 180, 0.7);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn-round img {
  z-index: 2;
}

.btn-round::before {
  content: "";
  position: absolute;
  display: -ms-grid;
  display: grid;
  place-self: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(112, 157, 102, 0.7);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn-round:hover {
  background-color: #becfb4;
}

.btn-round:hover::before {
  background-color: rgba(112, 157, 102, 0.4);
}

.btn-round:focus {
  background-color: #eebc86;
}

.btn-round:focus::before {
  background-color: #eebc86;
}

.link {
  color: #80a674;
  padding: 1rem 2rem 0.3rem 0;
  font-weight: 400;
  line-height: 22px;
  font-size: 1rem;
  text-decoration: none;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1rem;
  height: 2x;
  background-color: #80a674;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.link:hover {
  color: #becfb4;
}

.link:hover::before {
  width: 3rem;
  background-color: #becfb4;
}

.link:focus {
  color: #eba761;
}

.link:focus::before {
  width: 3rem;
  background-color: #eba761;
}

.link-light {
  color: #becfb4;
  padding: 1rem 2rem 0.3rem 0;
  font-weight: 400;
  line-height: 22px;
  font-size: 1rem;
  text-decoration: none;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media screen and (max-width: 840px) {
  .link-light {
    position: inherit;
  }
  .link-light::before {
    display: none;
  }
  .link-light:hover::before {
    display: none;
  }
}

.link-light::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1rem;
  height: 2px;
  background-color: #becfb4;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.link-light:hover {
  color: #eebc86;
}

.link-light:hover::before {
  width: 3rem;
  background-color: #eebc86;
}

.link-light:focus {
  color: #f2dcbf;
}

.link-light:focus::before {
  width: 3rem;
  background-color: #f2dcbf;
}

.head-1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 60px;
  font-size: 4rem;
  margin: 0.5rem 0 2rem;
}

@media screen and (max-width: 840px) {
  .head-1 {
    font-size: 2.5rem;
    line-height: 45px;
  }
}

.head-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 41px;
  font-size: 2.1rem;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 840px) {
  .head-2 {
    font-size: 1.9rem;
  }
}

.head-3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 29px;
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.sub-1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 24px;
  font-size: 1.25rem;
}

.sub-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 22px;
  font-size: 1.1rem;
}

.body-1 {
  font-family: "Be Vietnam", sans-serif;
  font-weight: normal;
  line-height: 1.8rem;
  font-size: 1.1rem;
}

.body-2 {
  font-family: "Be Vietnam", sans-serif;
  font-weight: normal;
  line-height: 1.3rem;
  font-size: 1rem;
}

.overline {
  font-family: "Be Vietnam", sans-serif;
  font-weight: normal;
  line-height: 19px;
  font-size: 0.9rem;
  text-transform: uppercase;
}

#hero .hero {
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero .container-50 {
  margin: 0 auto;
}

#hero .container-50 .folhas {
  position: absolute;
}

#hero .container-50 .folhas img {
  position: relative;
  right: 3rem;
}

#hero .container-50 img {
  max-height: 540px;
}

#hero p {
  margin-bottom: 1.5rem;
}

#hero div.body-1 {
  margin-bottom: 6rem;
}

@media screen and (max-width: 840px) {
  #hero {
    margin-top: 4rem;
  }
  #hero .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #hero .hero .container-50 {
    width: 100vw;
  }
  #hero .hero .container-50 .folhas {
    left: 0rem;
    z-index: 1;
  }
  #hero .hero .container-50 .folhas img {
    left: 2.5rem;
    width: 90%;
  }
  #hero .hero .container-50 .btn-round {
    margin: 0 auto;
  }
  #hero .hero .container-50 #hero-img {
    margin: 0 auto;
    position: relative;
    left: -3rem;
  }
}

#fornecedores .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#fornecedores .container .container-100 {
  text-align: left;
}

#fornecedores .container .container-100 h2 {
  margin-bottom: 2rem;
}

#fornecedores .fornecedores ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  margin: 0 auto;
  width: 100%;
}

#fornecedores .fornecedores ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
}

#fornecedores .fornecedores ul li img {
  width: 100%;
}

@media screen and (max-width: 1140px) and (min-width: 840px) {
  #fornecedores .container {
    padding: 6rem 4rem;
  }
}

@media screen and (max-width: 840px) {
  #fornecedores .fornecedores ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
  }
  #fornecedores .fornecedores ul li {
    width: 20%;
  }
}

#oQueFazemos {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#oQueFazemos .container-50 {
  margin: 0 auto;
}

#oQueFazemos .container-50 .imagem {
  background-color: #f3f0e4;
  width: 380px;
  height: 580px;
  border-radius: 8px;
}

#oQueFazemos .container-50 p {
  margin-bottom: 1rem;
}

#oQueFazemos .container-50 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

#oQueFazemos .container-50 .botao-descer {
  margin-top: 3rem;
  position: relative;
}

#oQueFazemos .container-50 .botao-descer a {
  position: absolute;
  right: 0;
}

@media screen and (max-width: 1140px) and (min-width: 840px) {
  #oQueFazemos .container-50 .imagem {
    width: 280px;
    height: 430px;
  }
  #oQueFazemos .container-50 .botao-descer a {
    position: absolute;
    left: 0;
  }
}

@media screen and (max-width: 840px) {
  #oQueFazemos .container .container-50 .imagem {
    width: 180px;
    height: 250px;
    margin-bottom: 2rem;
  }
  #oQueFazemos .container .container-50 .body-1 {
    margin-bottom: 2rem;
  }
  #oQueFazemos .container .container-50 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #oQueFazemos .container .container-50 ul li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    justify-items: baseline;
  }
  #oQueFazemos .container .container-50 ul li img {
    display: none;
  }
  #oQueFazemos .container .container-50 .botao-descer {
    display: -ms-grid;
    display: grid;
    place-content: center;
    margin: 3rem auto;
  }
  #oQueFazemos .container .container-50 .botao-descer .btn-round {
    place-self: center;
  }
}

#quemSomos .container {
  gap: 2rem;
}

#quemSomos .container-50 {
  margin: 0 auto;
}

#quemSomos .container-textos p {
  margin-bottom: 1rem;
}

#quemSomos .container-textos ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

#quemSomos .container-textos ul li .check {
  background-color: #becfb4;
  padding: 1rem;
  border-radius: 50%;
}

#quemSomos .container-textos .botao-descer {
  margin-top: 3rem;
  position: relative;
}

#quemSomos .container-textos .botao-descer a {
  position: absolute;
  left: 0;
}

#quemSomos .container-50 .imagem {
  background-color: #becfb4;
  width: 380px;
  height: 580px;
  border-radius: 8px;
}

@media screen and (max-width: 840px) {
  #quemSomos .container-50 .imagem {
    display: none;
  }
  #quemSomos .container-50 ul li .check {
    display: none;
  }
}

#pedirWhatsapp .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

#pedirWhatsapp .container .body-1 {
  margin-bottom: 4rem;
}

#pedirWhatsapp .container .body-1 p {
  padding: 0.5rem 0;
}

#pedirWhatsapp .container .botoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 1140px) and (min-width: 840px) {
  #pedirWhatsapp .container {
    width: 100%;
    padding: 6rem 4rem;
  }
}

@media screen and (max-width: 840px) {
  #pedirWhatsapp .container .botoes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#comoChegar .container {
  margin: o auto;
  gap: 4rem;
}

#comoChegar .container .container30 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

#comoChegar .container .container30 .matriz, #comoChegar .container .container30 .filial {
  margin-bottom: 1rem;
}

#comoChegar .container .container30 .matriz .botao, #comoChegar .container .container30 .filial .botao {
  margin: 2rem 0 2rem 0;
}

#comoChegar .container .container70 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#comoChegar .container .container70 .frame {
  width: 600px;
  height: 600px;
  border-radius: 4px;
  border: none;
}

@media screen and (max-width: 1140px) and (min-width: 840px) {
  #comoChegar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #comoChegar .container .container30 {
    width: 100%;
  }
  #comoChegar .container .container70 .frame {
    width: 700px;
    height: 300px;
  }
}

@media screen and (max-width: 840px) {
  #comoChegar .container .container70 .frame {
    width: 250px;
    height: 100px;
  }
}

#depoimentos {
  display: none;
}

#depoimentos .container .container70 {
  width: 100%;
  height: 500px;
}

#depoimentos .container .container70 .depoimentos {
  position: absolute;
}

#depoimentos .container .container70 .depoimentos div {
  width: 300px;
  height: 300px;
  background-color: white;
}

#depoimentos .container .container70 .depoimentos .depo1 {
  opacity: .7;
  position: relative;
  left: 200px;
  top: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

#depoimentos .container .container70 .depoimentos .depo2 {
  opacity: .6;
  position: relative;
  top: -150px;
  left: 280px;
}

#depoimentos .container .container70 .depoimentos .depo3 {
  opacity: .5;
  position: relative;
  top: -330px;
  left: 0px;
}

#depoimentos .container .container70 .depoimentos .depo4 {
  opacity: .4;
  position: relative;
  top: -550px;
  left: 250px;
}

#depoimentos .container .container70 .depoimentos .depo5 {
  opacity: .3;
  position: relative;
  top: -1130px;
  left: -80px;
}

#depoimentos .container30 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#depoimentos .container30 p {
  margin-bottom: 2rem;
}

#footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer .container .dev {
  margin-top: 1rem;
  text-align: center;
}

#footer .container .dev p {
  padding: .5rem;
}

#footer .container-100 {
  border-top: 1px solid #becfb4;
  border-bottom: 1px solid #becfb4;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .container-100 .container-30 .head-3 {
  margin-bottom: 2rem;
}

#footer .container-100 .container-30 .footer-links li {
  margin-bottom: 2rem;
}

#footer .container-100 .container-30 .contato {
  margin-bottom: 2rem;
}

#footer .container-100 .container-30 .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 1140px) and (min-width: 840px) {
  #footer .container-100 {
    padding: 2rem 0;
  }
}

@media screen and (max-width: 840px) {
  #footer .container-100 {
    gap: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */