*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@import "style/partials/color";
@import "style/partials/layout";
@import "style/partials/menu";
@import "style/partials/buttons";
@import "style/partials/type";

//MENU DESTKTOP
#menu-desktop {
  width: 100%;
  height: 72px;
  padding: 1rem 4rem;
  background-color: $primary-3;
  box-shadow: $box-shadow;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    img {
      height: 40px;
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .menu-items {
      display: flex;
    }
  }
}
