*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam", sans-serif;
}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}


@import "style/partials/color";
@import "style/partials/responsive";
@import "style/partials/layout";
@import "style/partials/menu";
@import "style/partials/buttons";
@import "style/partials/type";

@import "style/partials/sectionHero";
@import "style/partials/sectionFornecedores";
@import "style/partials/sectionOQueFazemos";
@import "style/partials/sectionQuemSomos";
@import "style/partials/sectionPedir";
@import "style/partials/sectionComoChegar";
@import "style/partials/sectionDepoimentos";
@import "style/partials/sectionFooter";
