*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Be Vietnam", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container-verde-100 {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 10rem 0;
  background-color: #3a493d;
}

.container-verde-100 h1,
.container-verde-100 h2,
.container-verde-100 h3,
.container-verde-100 h4 {
  color: #eba761;
}

.container-verde-100 p {
  color: #becfb4;
}

.container-verde-100 .overline {
  color: #80a674;
}

.container-laranja-100 {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 10rem 0;
  background-color: #f3f0e4;
}

.container-laranja-100 h1,
.container-laranja-100 h2,
.container-laranja-100 h3,
.container-laranja-100 h4 {
  color: #3a493d;
}

.container-laranja-100 p {
  color: #7f7d7d;
}

.container-laranja-100 .overline {
  color: #80a674;
}

.container-1440 {
  width: 1440px;
}

.btn-prim {
  min-width: 200px;
  padding: 0.8rem 3rem;
  border-radius: 2px;
  border: none;
  -webkit-box-shadow: 0px 3px 5px rgba(103, 123, 101, 0.4);
          box-shadow: 0px 3px 5px rgba(103, 123, 101, 0.4);
  background-color: #3a493d;
  color: #f3f0e4;
  font-weight: 500;
  line-height: 22px;
  font-size: 1rem;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn-prim:hover {
  background-color: #677b65;
  -webkit-box-shadow: 0px 5px 11px 1px rgba(68, 85, 70, 0.2);
          box-shadow: 0px 5px 11px 1px rgba(68, 85, 70, 0.2);
  color: #f2dcbf;
}

.btn-prim:focus {
  background-color: #709d66;
}

.btn-sec {
  min-width: 200px;
  padding: 0.8rem 3rem;
  border-radius: 2px;
  border: none;
  -webkit-box-shadow: 0px 3px 5px rgba(103, 123, 101, 0.4);
          box-shadow: 0px 3px 5px rgba(103, 123, 101, 0.4);
  background-color: #709d66;
  color: #f3f0e4;
  font-weight: 500;
  line-height: 22px;
  font-size: 1rem;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn-sec:hover {
  background-color: #80a674;
  -webkit-box-shadow: 0px 5px 11px 1px rgba(68, 85, 70, 0.2);
          box-shadow: 0px 5px 11px 1px rgba(68, 85, 70, 0.2);
  color: #f2dcbf;
}

.btn-sec:focus {
  background-color: rgba(128, 166, 116, 0.75);
}

.btn-ter {
  min-width: 200px;
  padding: 0.8rem 3rem;
  border-radius: 2px;
  border: 1px solid #3a493d;
  background-color: none;
  color: #3a493d;
  font-weight: 500;
  line-height: 22px;
  font-size: 1rem;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn-ter:hover {
  background-color: rgba(128, 166, 116, 0.4);
  -webkit-box-shadow: 0px 5px 11px 1px rgba(68, 85, 70, 0.2);
          box-shadow: 0px 5px 11px 1px rgba(68, 85, 70, 0.2);
  color: #677b65;
}

.btn-ter:focus {
  background-color: rgba(128, 166, 116, 0.75);
  color: #f5faf6;
}

.btn-ter-2 {
  min-width: 200px;
  padding: 0.8rem 3rem;
  border-radius: 2px;
  border: 1px solid #becfb4;
  background-color: none;
  color: #becfb4;
  font-weight: 500;
  line-height: 22px;
  font-size: 1rem;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn-ter-2:hover {
  background-color: rgba(128, 166, 116, 0.75);
  -webkit-box-shadow: 0px 5px 11px 1px rgba(68, 85, 70, 0.2);
          box-shadow: 0px 5px 11px 1px rgba(68, 85, 70, 0.2);
  color: #f3f0e4;
}

.btn-ter-2:focus {
  background-color: #80a674;
  color: #f3f0e4;
}

.btn-round {
  background-color: rgba(190, 207, 180, 0.7);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn-round img {
  z-index: 2;
}

.btn-round::before {
  content: "";
  position: absolute;
  display: -ms-grid;
  display: grid;
  place-self: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(112, 157, 102, 0.7);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn-round:hover {
  background-color: #becfb4;
}

.btn-round:hover::before {
  background-color: rgba(112, 157, 102, 0.4);
}

.btn-round:focus {
  background-color: #eebc86;
}

.btn-round:focus::before {
  background-color: #eebc86;
}

.link {
  color: #80a674;
  padding: 1rem 2rem 0.3rem 0;
  font-weight: 400;
  line-height: 22px;
  font-size: 1rem;
  text-decoration: none;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1rem;
  height: 2x;
  background-color: #80a674;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.link:hover {
  color: #becfb4;
}

.link:hover::before {
  width: 3rem;
  background-color: #becfb4;
}

.link:focus {
  color: #eba761;
}

.link:focus::before {
  width: 3rem;
  background-color: #eba761;
}

.link-light {
  color: #becfb4;
  padding: 1rem 2rem 0.3rem 0;
  font-weight: 400;
  line-height: 22px;
  font-size: 1rem;
  text-decoration: none;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.link-light::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1rem;
  height: 2px;
  background-color: #becfb4;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.link-light:hover {
  color: #eebc86;
}

.link-light:hover::before {
  width: 3rem;
  background-color: #eebc86;
}

.link-light:focus {
  color: #f2dcbf;
}

.link-light:focus::before {
  width: 3rem;
  background-color: #f2dcbf;
}

.head-1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 60px;
  font-size: 4rem;
}

.head-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 41px;
  font-size: 2.1rem;
}

.head-3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 29px;
  font-size: 1.5rem;
}

.sub-1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 24px;
  font-size: 1.25rem;
}

.sub-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 22px;
  font-size: 1.1rem;
}

.body-1 {
  font-family: "Be Vietnam", sans-serif;
  font-weight: normal;
  line-height: 26px;
  font-size: 1.1rem;
}

.body-2 {
  font-family: "Be Vietnam", sans-serif;
  font-weight: normal;
  line-height: 26px;
  font-size: 1rem;
}

.overline {
  font-family: "Be Vietnam", sans-serif;
  font-weight: normal;
  line-height: 19px;
  font-size: 0.9rem;
  text-transform: uppercase;
}

#menu-desktop {
  width: 100%;
  height: 72px;
  padding: 1rem 4rem;
  background-color: #3a493d;
  -webkit-box-shadow: 0px 3px 5px rgba(103, 123, 101, 0.4);
          box-shadow: 0px 3px 5px rgba(103, 123, 101, 0.4);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#menu-desktop .logo img {
  height: 40px;
}

#menu-desktop nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#menu-desktop nav .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */