$box-shadow: 0px 3px 5px rgba($primary-1, 0.4);
$box-shadow-hover: 0px 5px 11px 1px rgba($primary-2, 0.2);

.btn-prim {
  min-width: 200px;
  padding: 0.8rem 3rem;
  border-radius: 2px;
  border: none;
  box-shadow: $box-shadow;
  background-color: $primary-3;
  color: $tertiary-1;

  font-weight: 500;
  line-height: 22px;
  font-size: 1rem;
  text-transform: uppercase;

  transition: 0.3s ease;
  &:hover {
    background-color: $primary-1;
    box-shadow: $box-shadow-hover;
    color: $tertiary-2;
  }

  &:focus {
    background-color: $secondary-3;
  }
}

.btn-sec {
  min-width: 200px;
  padding: 0.8rem 3rem;
  border-radius: 2px;
  border: none;
  box-shadow: $box-shadow;
  background-color: $secondary-3;
  color: $tertiary-1;

  font-weight: 500;
  line-height: 22px;
  font-size: 1rem;
  text-transform: uppercase;

  transition: 0.3s ease;
  &:hover {
    background-color: $secondary-2;
    box-shadow: $box-shadow-hover;
    color: $tertiary-2;
  }

  &:focus {
    background-color: rgba($secondary-2, 0.75);
  }
}

.btn-ter {
  min-width: 200px;
  padding: 0.8rem 3rem;
  border-radius: 2px;
  border: 1px solid $primary-3;
  background-color: none;
  color: $primary-3;

  font-weight: 500;
  line-height: 22px;
  font-size: 1rem;
  text-transform: uppercase;

  transition: 0.3s ease;
  &:hover {
    background-color: rgba($secondary-2, 0.4);
    box-shadow: $box-shadow-hover;
    color: $primary-1;
  }

  &:focus {
    background-color: rgba($secondary-2, 0.75);
    color: $black-1;
  }
}

.btn-ter-2 {
  min-width: 200px;
  padding: 0.8rem 3rem;
  border-radius: 2px;
  border: 1px solid $secondary-1;
  background-color: none;
  color: $secondary-1;

  font-weight: 500;
  line-height: 22px;
  font-size: 1rem;
  text-transform: uppercase;

  transition: 0.3s ease;
  &:hover {
    background-color: rgba($secondary-2, 0.75);
    box-shadow: $box-shadow-hover;
    color: $tertiary-1;
  }

  &:focus {
    background-color: rgba($secondary-2, 1);
    color: $tertiary-1;
  }
}

.btn-round {
  background-color: rgba($secondary-1, 0.7);
  width: 72px;
  height: 72px;
  border-radius: 50%;

  display: grid;
  place-content: center;

  img {
    z-index: 2;
  }

  &::before {
    content: "";
    position: absolute;
    display: grid;
    place-self: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgba($secondary-3, 0.7);

    transition: 0.3s ease;
  }

  transition: 0.3s ease;
  &:hover {
    background-color: rgba($secondary-1, 1);

    &::before {
      background-color: rgba($secondary-3, 0.4);
    }
  }

  &:focus {
    background-color: $tertiary-3;

    &::before {
      background-color: $tertiary-3;
    }
  }
}

//LINKS
.link {
  color: $secondary-2;
  padding: 1rem 2rem 0.3rem 0;

  font-weight: 400;
  line-height: 22px;
  font-size: 1rem;
  text-decoration: none;

  position: relative;

  //UNDERLINE
  &::before {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 1rem;
    height: 2x;
    background-color: $secondary-2;

    transition: 0.7s ease;
  }

  transition: 0.3s ease;
  &:hover {
    color: $secondary-1;

    &::before {
      width: 3rem;
      background-color: $secondary-1;
    }
  }

  &:focus {
    color: $tertiary-4;

    &::before {
      width: 3rem;
      background-color: $tertiary-4;
    }
  }
}

.link-light {
  color: $secondary-1;
  padding: 1rem 2rem 0.3rem 0;

  font-weight: 400;
  line-height: 22px;
  font-size: 1rem;
  text-decoration: none;

  position: relative;

  //UNDERLINE
  &::before {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 1rem;
    height: 2px;
    background-color: $secondary-1;

    transition: 0.7s ease;
  }

  transition: 0.3s ease;
  &:hover {
    color: $tertiary-3;

    &::before {
      width: 3rem;
      background-color: $tertiary-3;
    }
  }

  &:focus {
    color: $tertiary-2;

    &::before {
      width: 3rem;
      background-color: $tertiary-2;
    }
  }
}
