//BLACK
$black-1: #f5faf6;
$black-2: #7f7d7d;
$black-3: #2a2728;

//PRIMARY
$primary-1: #677b65;
$primary-2: #445546;
$primary-3: #3a493d;

//SECONDARY
$secondary-1: #becfb4;
$secondary-2: #80a674;
$secondary-3: #709d66;

//TERCIARY
$tertiary-1: #f3f0e4;
$tertiary-2: #f2dcbf;
$tertiary-3: #eebc86;
$tertiary-4: #eba761;
