//CONTAINERS

.container-alter{
  width: 100vw;
  height: max-content;
  padding: 4rem 20rem;

  @include responsive(s){
    padding: 2rem 2rem;
  }
}

.container-verde {
  background-color: $primary-3;
  width: 100vw;
  height: max-content;

  h1,
  h2,
  h3,
  h4 {
    color: $tertiary-4;
  }

  p {
    color: $secondary-1;
  }

  .overline {
    color: $secondary-2;
  }

  @include responsive(s){
    width: 100vw;
    overflow-x: hidden;
  }
}

.container-laranja {
  background-color: $tertiary-1;
  width: 100vw;
  height: max-content;

  h1,
  h2,
  h3,
  h4 {
    color: $primary-3;
  }

  p {
    color: $black-2;
  }

  .overline {
    color: $secondary-2;
  }

  @include responsive(s){
    width: 100vw;
    overflow-x: hidden;
  }
  
}

.container {
  max-width: 1280px;
  padding: 12rem 4rem;
  margin: 0 auto;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include responsive(m){
    padding: 6rem 3rem;
  }

  @include responsive(s){
    width: 100%;

    padding: 4rem 2rem;
    flex-direction: column;
  }
  
}

.container-100{
  width: 100%;
}

.container-70{
  max-width: 70%;

  @include responsive(s){
    width: 100%;
  }
}

.container-60{
  max-width: 60%;

  @include responsive(s){
    width: 100%;
  }
}

.container-50{
  max-width: 49%;

  @include responsive(s){
    width: 100%;
  }
}

.container-40{
  max-width: 40%;

  @include responsive(s){
    width: 100%;
  }
}

.container-30{
  max-width: 30%;

  @include responsive(s){
    width: 100%;
  }
}
