//CONTAINERS
.container-100{
  width: 100vw;
  height: max-content;
  padding: 12rem 20rem;
}

.container-verde {
  background-color: $primary-3;

  h1,
  h2,
  h3,
  h4 {
    color: $tertiary-4;
  }

  p {
    color: $secondary-1;
  }

  .overline {
    color: $secondary-2;
  }
}

.container-laranja {
  
  background-color: $tertiary-1;

  h1,
  h2,
  h3,
  h4 {
    color: $primary-3;
  }

  p {
    color: $black-2;
  }

  .overline {
    color: $secondary-2;
  }
}

.container-1440 {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-40{
  max-width: 40%;
}

.container-60{
  max-width: 60%;
}


#hero{
  .container-60{
    padding: 0rem 8rem;

    .folhas{
      position: absolute;

      img{
        position: relative;
        right: 4rem;
      }
    }

    img{
      max-height: 640px;
    }
  }

  p{
    margin-bottom: 6rem;
  }
}