#fornecedores{

  .container{
    flex-direction: column;

    .container-100{
      text-align: left;

      h2{
        margin-bottom: 2rem;
      }
    }
  }
  
  .fornecedores{
    ul{
      display: flex;
      align-items: center;
      gap: 3rem;

      margin: 0 auto;
      width: 100%;

      li{
        display: flex;
        place-content: center;

        img{
          width: 100%;
        }
      }
    }
  }

  @include responsive(m){
    .container{
      padding: 6rem 4rem;
    }
  }

  @include responsive(s){
    .fornecedores{
      ul{
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;

        li{
          width: 20%;
        }
      }
    }
  }
}