#oQueFazemos{

  align-items: center;

  .container-50{
    margin: 0 auto;

    .imagem{
      background-color: $tertiary-1;
      width: 380px;
      height: 580px;
      border-radius: 8px;
    }

    p{
      margin-bottom: 1rem;
    }
    
    ul{
      li{
        display: flex;
        gap: 2rem;
        align-items: center;
  
        margin-bottom: 1rem;
      }
    }

    .botao-descer{
      margin-top: 3rem;
      position: relative;
      a{
        position: absolute;
        right: 0;
      }
    }
  }

  @include responsive(m){
    padding: -6rem;

    .container-50{
      padding: 0rem;

      .imagem{
        width: 280px;
        height: 430px;
      }

      .botao-descer{
        a{
          position: absolute;
          left: 0;
        }
      }
    }
  }
}