#hero{

  .hero{
    margin: 0 auto;
    align-items: center;
  }


  .container-50{
    margin: 0 auto;

    .folhas{
      position: absolute;

      img{
        position: relative;
        right: 3rem;
      }
    }

    img{
      max-height: 540px;
    }
  }

  p{
    margin-bottom: 1.5rem;
  }

  div.body-1{
    margin-bottom: 6rem;
  }

  @include responsive(s){
    margin-top: 4rem;

    .hero{
      display: flex;
      flex-direction: column-reverse;

      .container-50{
        width: 100vw;

        .folhas{
          left: 0rem;
          z-index: 1;
          
          img{
            left: 2.5rem;
            width: 90%;
          }
        }

        .btn-round{
          margin: 0 auto;
        }

        #hero-img{
          margin: 0 auto;
          position: relative;
          left: -3rem;
        }

        
      }
    }
  }
  
}