#footer{

  .container{
    display: flex;
    flex-direction: column;

    .dev{
      margin-top: 1rem;
      text-align: center;

      p{
        padding: .5rem;
      }
    }
  }

  .container-100{
    border-top: 1px solid $secondary-1;
    border-bottom: 1px solid $secondary-1;

    padding: 4rem 0;

    display: flex;
    gap: 10rem;
    justify-content: center;

    .container-30{
      .head-3{
        margin-bottom: 2rem;
      }
  
      .footer-links{
        li{
          margin-bottom: 2rem;
        }
      }

      .contato{
        margin-bottom: 2rem;
      }

      .social-media{
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }

  @include responsive(m){

    .container-100{
      padding: 2rem 0;
    }
  }

  @include responsive(s){
    .container-100{
      gap: 2rem;
    }
  }
}