#quemSomos{

  .container{
    gap: 2rem;
  }

  .container-50{
    margin: 0 auto;
  }

  .container-textos{
    p{
      margin-bottom: 1rem;
    }
    ul{
      li{
        display: flex;
        gap: 2rem;
        align-items: center;
        margin-bottom: 1rem;

        .check{
          background-color: $secondary-1;
          padding: 1rem;
          border-radius: 50%;
        }
      }
    }

    .botao-descer{
      margin-top: 3rem;
      position: relative;
      a{
        position: absolute;
        left: 0;
      }
    }
  }
  
  .container-50 .imagem{
    background-color: $secondary-1;
    width: 380px;
    height: 580px;
    border-radius: 8px;
  }

  

}