#pedirWhatsapp{
  .container{
    justify-content: center;
    flex-direction: column;
    width: 60%;
    
    .body-1{
      margin-bottom: 4rem;
      p{
        padding: 0.5rem 0;
      }
    }

    .botoes{
      display: flex;
      gap: 2rem;
    }
  }

  @include responsive(m){
    .container{
      width: 100%;
      padding: 6rem 4rem;
    }
  }

  @include responsive(s){
    .container{

      .botoes{
        flex-direction: column;
      }
    }
  }

}

