.head-1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 60px;
  font-size: 4rem;
  margin: 0.5rem 0 2rem;
}

.head-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 41px;
  font-size: 2.1rem;
  margin-bottom: 1.5rem;
}

.head-3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 29px;
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.sub-1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 24px;
  font-size: 1.25rem;
}

.sub-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 22px;
  font-size: 1.1rem;
}

.body-1 {
  font-family: "Be Vietnam", sans-serif;
  font-weight: normal;
  line-height: 1.8rem;
  font-size: 1.1rem;
}

.body-2 {
  font-family: "Be Vietnam", sans-serif;
  font-weight: normal;
  line-height: 1.3rem;
  font-size: 1rem;
}

@mixin type-button {
  font-weight: 500;
  line-height: 22px;
  font-size: 1rem;
  text-transform: uppercase;
}

.overline {
  font-family: "Be Vietnam", sans-serif;
  font-weight: normal;
  line-height: 19px;
  font-size: 0.9rem;
  text-transform: uppercase;
}
